<h1>Lista de productos</h1>
<ul class="list-group">
  <li class="list-group-item" *ngIf = "listaproductos.length > 0 ; then productsTemplate else noProductsTemplate"></li>
  <ng-template #productsTemplate> 
    <li class="list-group-item" *ngFor = "let producto of listaproductos">
      Nombre: {{producto.name}} <br>
      Precio:  ${{producto.precio}} 
      <div class="text-right">
        <button 
        type="button" class="btn btn-dark btn-sm"
        (click)= "anadiralcarro(producto)">
        + 
        </button>
      </div>
    </li>  
  </ng-template>
  <ng-template #noProductsTemplate> Sin productos para mostrar</ng-template>
</ul>>